/*navigation bar*/
.nav-back {
  width: 90%;
  max-width: 900px;
}
.nav-back ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
}
.nav-back ul li a {
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
}
.link-common {
  padding-left: 1%;
  padding-right: 1%;
  border-bottom: 3px solid transparent;
}
.link-active {
  border-color: #1A73E8;
  color: #1A73E8;
}
.link-nonactive {
  color: #777;
}

@media screen and (max-width: 500px) {
    .nav-back ul li a{
        font-size: 12px;
    }
}

@media screen and (min-width: 501px) {
    .link-common:hover {
      color: #1A73E8;
      border-color: #1A73E8;
    }
    .nav-back ul li a{
      font-size: 16px;
    }
}