@import url('https://fonts.googleapis.com/css?family=Acme|Roboto');
@font-face {
  font-family: 'yan';
  src: local('yan'), url(./fonts/yanFonts.ttf) format('truetype');
}
@font-face {
  font-family: 'jin';
  src: local('jin'), url(./fonts/jinFonts.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}
#root {
  width: 100%;
  height: 100%;
}
.form-back {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
}
.guas {
    font-family: "jin";
    font-size: 1.5em;
    font-weight: 500;
}
.coin-back {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}  
/*mobile divice */
@media screen and (max-width: 500px) {



}
/*desktop*/
@media screen and (min-width: 501px) {

/*detail results page*/
.question-icon2 {
  margin-left: 20px;
  color: #ea830e;
  font-size: 1.2em;
}
.question-icon2:hover {
  cursor: pointer;
}
.results-wrapper-wrapper {
  width: 85%;
  flex-grow: 1;
  max-width: 600px;
}
.results-wrapper {
  display: flex;
  border: solid #808080;
  border-width: 2px 1px;
  border-radius: 3px;
}
.result-single {
  box-sizing: border-box;
  padding: 1%;
  display: flex;
  height: 200px;
  flex-grow: 1;
  flex-direction: column;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  align-items: center;
  position: relative;
}
.result-single div:first-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results-gua {
  font-size: 3em;
  margin-left: -0.5em;
  margin-top: -10px;
}
.results-wrapper-wrapper p {
   font-family: 'Acme', sans-serif;
}

.results-wrapper-wrapper p:first-child {
   font-size: 1em;
}
.result-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 1px;
    background: #808080;
    opacity: 0.5;
    z-index: 10;
    top: 0;
}
.result-modal:hover {
  opacity: 0;
  cursor: pointer;
}
.result-checked {
  opacity: 0;
}
  /*detail gua panel*/
.guas-details-back {
  border: 2px solid #808080;
  border-radius: 3px;
  width: 85%;
  max-width: 600px;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Acme', sans-serif;
}
.guas-details-back p {
  padding-left: 5%;
}
.underline {
  color: #1A73E8;
}
.detour_back {
  width: 85%;
  max-width: 600px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  color: #808080;
}
.detour_back a {
  text-decoration: none;
  color: #e53124;
  border-bottom: 2px solid white;
}
.detour_back a:hover {
  border-bottom-color: #1A73E8;
  color: #1A73E8;
}
/*other cultures page*/
.cultures-back {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  flex-grow: 1;
}
.cultures-imgs {
    width: 100%;
    
    display: flex;
    justify-content: center;
    
    border: 2px solid #757575;
    border-radius: 8px;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #808080;
}
.cultures-img-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width:25%;
}
.img-modal p {
  width: 100%;
  background: black;
  text-align: center;
  margin-top: 100%;
}
.cultures-img {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.img-modal {
  position: absolute;
  background: #808080;
  top: 0;
  z-index: 10;
  opacity: 0.5;
  display: flex;
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  width:100%;
  height: 100%;
}
.img-modal:hover{
  opacity: 0;
  cursor: pointer;
}
/*history page*/
.history-back {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 90%;
  max-width: 900px;
  height: 100%;
}
.history-back h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #808080;
}
.history-back table {
  width: 100%;
  margin-top: 4%;
}
.history-panel-head {
  font-family: 'Roboto', sans-serif;
  color: #689df2;
  font-size: 0.9em;
}
.history-panel-content {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}
.history-panel-content td {
  text-align: center;
  padding: 1% 2%;
}
.history-gua p{
  line-height: 5px
}
.history-gua a{
  text-decoration: none;
  color: #f45c42;
}
/*glossary page*/
.glossary-back {
  flex-grow: 1;
  width: 85%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.glossary-forms {
  width: 100%;
  max-width: 600px;
 
}
.glossary-back h3 {
  width: 100%;
  text-align: left;
  color: #808080;
}
.glossary-forms>div {
  display: flex;
}
.glossary-forms form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.glossary-form-wrap {
  width: 75%;
  display: flex;
  justify-content: center;
}
.glossary-form-wrap input {
  width: 50%;
  height: 30px;
  padding: 1%;
  text-align: right;
  border: 1px solid #757575;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: bold;
}
.glossary-form-wrap button {
  width: 50px;
  margin-left: 5%;
  border: 1px solid #808080;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #757575;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  background: #eee;
}
.glossary-form-wrap button:hover{
  cursor: pointer;
  color: #1A73E8;
  box-shadow: 1px 1px 3px #1A73E8;
}
.glossary-links {
  margin-top:15%;
  width: 100%;
  padding: 0;
}
.glossary-links a {
  text-decoration: none;
  color: #505050;
  margin-bottom: 1%;
}
.glossary-links a:hover {
  color: #1A73E8;
}
.detail-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.detail-wrap>p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
.gram-number {
  color: #f45c42;
}
.detail-wrap a {
  margin-top: 3%;
}
.glossary-btn {
  width: 60px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid green;
  box-shadow: 1px 1px 3px #808080;
  border-radius: 3px;
  background: green;
  color: white;
}
.glossary-btn:hover {
  cursor: pointer;
  filter: brightness(120%);
}
}